@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Nunito+Sans&family=Satisfy&display=swap');

#brand-name {
    font-family: 'Satisfy', cursive;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Julius Sans One', sans-serif;
}

.footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}